body {
	font-family: 'Open Sans', 'Tahoma', arial, verdana, helvetica, sans-serif;
	background-color: #999; /*#f4f4e9;*/ /*#f2f0ea#f1f1f1*/
	color: #333;
	font-size: 10pt;
	background: #f1f1f1 url(/static/imgs/page-bg.jpg) repeat left top fixed;
	margin: 0;
}


a:link    { text-decoration: none;
            color: #587bac; }
a:active  { color: red }
a:visited { color: #587bac; }
a:hover	  { text-decoration: none;
            color: #930;
            background-color: transparent; }


.openwinlink { color: #587bac; text-decoration: none;}
.openwinlink:hover { color: #930; cursor : pointer; text-decoration: underline;}



ul {
list-style-type:square;
list-style-position:inside;
padding:0px;
margin:0px;
}




h1, h2, h3 {
font-family: 'Open Sans', 'Ubuntu', Georgia,Palatino,Palatino Linotype,Times,Times New Roman,serif !important;
}

h1 {
padding-top: 0px;
    font-size: 18pt !important;
    color: #333 !important; /*#b26739;*/
    font-weight: normal !important;
}

h2 {
    font-size: 12pt !important;
    color: #b26739 !important;
    }

h2 a:link { color: #b26739 !important; }
h2 a:visited { color: #b26739 !important; }

h3 {
    font-size: 10pt !important;
    color:#b26739 !important;
    padding:0px !important;
    margin:0px !important;
    padding-top: 8px !important;
    }




/*kaart:*/
.vorm  {
	   height: 20px;
	   color: #09092f;
	   background-color: #ffffff;
	   /*background-image: none;*/
	   font-size: 8pt;
	   }

.details_content {
		font-family: verdana, arial, helvetica;
        font-size: 8pt;
		font-weight: bold;
									}
.details_head {
        font-size: 7pt;
		font-weight: normal;
		/*color:red;*/
}



/* ================================================================== */
/* POSITIONING */
/* ================================================================== */
#pagewrap {
	width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
}


#header {
position:relative;
height: auto;
text-align: center;
vertical-align: bottom;
margin: 0px auto;
background: #fff none no-repeat 20px 20px;
}

#header-box {
position: relative;
}


#header1 {
float: left;
min-width: 310px;
max-width: 330px;
padding: 40px 10px 5px 15px;
text-align:left;
}

#header2 {
float: left;
min-width: 310px;
max-width: 330px;
padding: 20px 5px 0px 5px;
}

#header3 {
float: right;
min-width: 280px;
max-width: 330px;
padding: 30px 15px 5px 15px;
}

#header4 {
float: left;
width: 100%;
text-align:center;

}

#header-search-button, #header-menu-button {
display: none;
position: absolute;
top: 8px;
width: 25px;
height: 25px;
border: solid 1px #ddd;
border-radius: 3px;
overflow: hidden;
}

#header-search-button {
right: 6px;
background: transparent url('/static/imgs/search.png') no-repeat 1px 1px;
}

#header-menu-button {
left: 6px;
font-size: 16px;
background: transparent url('/static/imgs/menu.png') no-repeat 1px 1px;
}

#mobile-menu {
display: none;
position: absolute;
top:0px;
left:0px;
width: 100%;
background-color: #000;
z-index: 1000;
}
#mobile-menu li {
display: block;
list-style-type: none;
font-weight: bold;
color: #fff;
font-size: 18px;
border-top: solid 1px #ccc;
text-align: left;
padding: 5px 10px;
}

#mobile-menu li a:link, #mobile-menu li a:visited { display: block; color: #fff; }
#mobile-menu li a:hover, #mobile-menu li a:active { display: block; color: #FFD900; }


#search-custom {
/*position: absolute;
top: 0px;
right: 0px;*/
display: none;
width: 100%;
background-color: #fff;
min-height: 10px;
z-index: 1000;
margin: 10px auto;
padding: 0;

text-align: center;
font-size: 0.9em;
}

#search-custom table {
/*border-top: solid 1px #b26739;
border-bottom: solid 1px #b26739;*/
padding: 3px;
}


#search-custom td {
text-align: right;
color: #999;
}

#search-custom input {
border: solid 1px #b26739;
border-radius: 3px;
padding: 2px;
}

#content {
position: relative;
margin-left: auto;
margin-right: auto;
padding: 12px;
background-color: #fff;
z-index: 1;
}


#bd-logo {
position: absolute;
top: 5px;
left: 15px;
height: 35px;
width: auto;
}

#menu {
width: 200px;
/*display: inline-block;*/
float:left;
/*position: absolute;
left: 5px;
top: 5px;*/
vertical-align: top;

z-index: 10;
/*border: solid 1px #f1f1f1;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;*/
margin: 0;
padding: 10px 10px 0 0;
overflow: auto;
border-left: solid 0px #ccc;
height: 100%;
/*background: #f5f5f5 url(/static/imgs/menu-bg.png) repeat-x left bottom;*/
}



#content-left {
display: block;
float: left;
/*position: absolute;
top: 5px;
right: 5px;
clear: both;*/
width: 760px;
/*background-color: #f1f1f1;*/
min-height: 10px;
vertical-align: top;
padding: 0 0 0 0px;
}



#footer {
clear: both;
color: #999;
font-size: 0.8em;
line-height: 1.2em;
padding: 10px;
margin: 20px auto;

text-align: center;
background-color: #f5f5f5;
/*border: solid 1px #666;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;*/
}

#header h1 {
/*display: none;
color: #333;
font-size: 28pt;*/
padding: 0 !important;
margin: 0 !important;
/*text-shadow: 1px 1px 1px #ccc;*/
color: #b26739 !important;
font-family: 'cardo',serif !important;/**/
font-weight: 300 !important;
font-size: 54px !important;
line-height: 0.8em !important;
}

#header h1.small {
    font-size: 26px !important;
}


#header h2 {
display: none !important;
padding: 0 0 0 0 !important;
margin: 0 !important;
color: #999 !important;
/*font-family: 'cardo',serif;*/
font-size: 21px !important;
font-weight: 300 !important;
}

#header a:link, #header a:active, #header a:visited { color: #b26739; }
#header a:hover	  { color:  #77533C; }
#header a {
text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}


#article {
margin-left:auto;
margin-right:auto;
border: solid 1px #ccc;
padding: 20px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
box-shadow: 0 0 8px #ccc;
background-color: #fff;


}

#article h1 {
text-align: center !important;
font-weight: bold !important;
margin: 0 0 10px 0 !important;
/*border-bottom: solid 1px #b26739;
color: #b26739;
*/
}
#article .twocol {
/*
-moz-column-count:2;
-webkit-column-count:2;
column-count:2;
-moz-column-rule:2px dotted #ccc;
-webkit-column-rule:2px dotted #ccc;
column-rule:2px dotted #ccc;
*/
}


#taxon-box {
background-color: #FEFCF5;
border: solid 1px #ccc;
padding: 5px 0 10px 0;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
box-shadow: 0 0 8px #ccc;
min-height: 90px;
vertical-align: middle;
position: relative;
}

#fossilgroup-icon {
/*float: left;*/
position: absolute;
top: 5px;
left: 5px;
font-size: 0.8em;
}
#fossilgroup-icon a {
text-decoration: none;
color: #999;
}

#taxon-title {
display: block;
z-index: 1000;
}

#taxon-header {
text-align: center;
border-bottom: solid 0px #ccc;
margin: 0 10px;

}

#taxon-header h1 {
	color: #b26739 !important;
	padding: 0 0 10px 0 !important;
	margin: 0 !important;
	font-weight: normal !important;
	/*font-family: 'cardo', serif;*/
}

#taxon-info {

border-top: solid 0px #ccc;
border-bottom: solid 1px #ccc;
/*-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;*/
	margin: 8px 0 12px 0;
	padding: 5px 0;

}

#taxon-details h3 {
	color: #666;
	font-size: 1.1em;
}

#taxon-links {
font-size: 0.9em;
padding: 5px 0 12px 5px;
}





#lang-flags {
/*position: fixed;
top: 5px;
left: 5px;*/
opacity: 0.4;
}

#lang-flags:hover {
opacity: 1;
}

#lang-block-top
{
position: absolute;
top: -10px;
right: 15px;
width: 350px;/**/
height: 20px;
border: dotted 1px #fff;
color: #999;
text-align: right;
background-color: #fff;
}

#lang-block-top span {
color: #999;
}

#lang-block-top span:hover {
color: #333;
cursor : pointer;
}


#slogan-block-top
{
/*position: absolute;
top: 10px;
left: 10px;
width: 100px;
height: 20px;
overflow: hidden;
text-align: left;
* */
color: #999;
font-size: 13pt;

}


#taxon-main {
position: relative;
width: 100%;
margin: 0;
padding: 0;
margin-bottom: 10px;
}

#taxon-left {
float: left;
width: 50%;
background-color: #fff;
min-height: 50px;
vertical-align: top;

}

#taxon-right {
float: right;
width: 50%;
background-color: #fff;
min-height: 50px;
vertical-align: top;
}





.searchresults-group { padding-left: 0px; }
.searchresults-genus { padding: 10px 0 0 0px; font-size: 1.1em; }
.searchresults-species { padding-left: 30px; }
.searchresults-header td { color: #999; border-bottom: solid 0px #ccc; font-size: 0.8em; }

#noresults-box p, #noresults-box li { width: 400px;  margin: 10px auto; }

.photogallery img {

height: 135px;
width: auto;
vertical-align:middle;
}

.smallmap {
width: 100%;
height: 200px;
position: relative;
border: solid 1px #666;
}

#leaflet-map {
 height:300px;
 border: solid 1px #ccc;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
}

.leaflet-control {
border: solid 1px #ccc;
opacity: 0.5;
}

.leaflet-control:hover {
border: solid 1px #ccc;
opacity: 1;
}



.map-simple-icon {
width: 3px;
height: 3px;
background-color: #E23921;
border: solid 1px #fff;
box-shadow: 1px 1px 3px #333;
border-radius: 6px;
opacity: 0.8;
}

.leaflet-map-pane {
z-index: 2 !important;
}

.leaflet-google-layer {
z-index: 1 !important;
}

.leaflet-control-attribution:hover {
opacity: 1;
}

.map-simple-icon {
width: 3px;
height: 3px;
background-color: #E23921;
border: solid 1px #fff;
box-shadow: 1px 1px 3px #333;
border-radius: 6px;
opacity: 0.8;
}

.leaflet-map-pane {
    z-index: 2 !important;
}

.leaflet-google-layer {
    z-index: 1 !important;
}

#show-detailed-search-btn { color: #b26739;}




.olControlAttribution {
top: 2px;
height: 1px;
display: none;
opacity: 0.3;
}

.olControlAttribution:hover {
opacity: 0.8;
}

.olAlphaImg {
opacity: 0.3;
}

.olAlphaImg:hover {
opacity: 0.6;
}








#species_hierarchy_container {


min-width: 100px;
padding: 5px;
font-size: .8em;

}


#species_container {
/*width: 1200px;
top: 0px;
width: 100%;*/
}

#species_main_container {
position: relative;
border: solid 0px #ccc;
}


#menu .submenu {
font-size: 8pt;
padding-left: 10px;
font-weight: normal;
padding-right: 10px;
}




#right_schedule em
{
color: #000000;
}


.sirvi0 {
font-weight: bold;
padding-top: 10px;
padding-left: 0px;
}

.sirvi1 {
padding-top: 10px;
padding-left: 20px;
}

.sirvi2 {
padding-left: 40px;
}

.sirvi3 {
padding-left: 60px;
}


dd {
display: block;
padding-bottom: 10px;
}


dt {
font-weight: bold;
color: #36c;
}

dt em {
font-weight: normal;
font-style: italic;
}




#species_container h2 {
color: #000 !important;
margin-top: 0px !important;

}


#searchresults_box {
position: absolute;
left: 47%;
background-color: #FDF4D0;
padding: 5px;
top: 85px;

border: solid 2px #ccc;
/*width: 350px;*/
z-index: 100;
/*-moz-border-radius: 6px;
-webkit-border-radius: 6px;*/
/*opacity: 0.95;*/
font-size: 0.9em;
box-shadow: 1px 3px 6px #999;
width: 166px;

}

#search_box {
border: solid 0px #ccc;
padding: 0 5px 5px 0;
/*-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
box-shadow: 0 0 8px #ccc;*/
vertical-align: middle;
text-align: center;
}

#title-menu {
font-size: 1em;
}

#search_box input {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #ccc inset;
    height: 20px;
	font-weight: normal;
	width: 100%;
	max-width: 300px;
	min-width: 100px;
	margin-top: 5px;
	color: #999;
	text-align:center;
	padding: 2px;
	/*text-transform:uppercase;*/
}

#search_box input:focus, #search_box input:active, #search_box input:hover {

}


#search-custom input {
text-align:left;
padding: 2px 5px;
}

#search-custom input[type=submit] {
text-align:center;
background-color: #f5f5f5;
font-weight: bold;
box-shadow: 1px 1px 3px #ddd;
height: auto;
}

#tree_box {
font-size: 0.9em;
background-color: #ccc;
}

#tree {
/*border-top: dotted 1px #999;
border-bottom: dotted 1px #999;*/
padding-top: 3px;
padding-bottom:3px;
margin-top: 0px;
margin-bottom: 0px;
max-height: 600px;
overflow: auto;
}

#tree ul {
padding: 0 0 0 7px;
list-style-type:none;
}


/* intrast */

.node_in_tree_selected {
font-weight: bold;
font-size: 1.0em;
color: #000;
}
/**/

.node_in_tree_selected a:link, .node_in_tree_selected a:visited, .node_in_tree_selected a:hover, .genus_in_tree_selected a, .species_in_tree_selected a {
color: #000;
}


.genus_in_tree_selected {
font-weight: bold;
padding-top: 1px;
padding-bottom: 1px;
}

.genus_in_tree {
padding-top: 1px;
padding-bottom: 1px;
}

.species_in_tree_selected {
font-weight: bold;
padding-top: 1px;
padding-bottom: 1px;
}

.species_in_tree {
padding-top: 1px;
padding-bottom: 1px;
}

.images_container {
border: solid 1px #ccc;
padding: 5px;
margin-top: 10px;
margin-bottom: 3px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
float: left;
}


#fossilgroups_box {
margin-left:auto;
margin-right:auto;
text-align: center;
border: solid 1px #ccc;
padding: 10px 0;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
box-shadow: 0 0 8px #ccc;
background-color: #fff;
}



.fossilgroup_box {
display:inline-block;
padding: 0px;
text-align: center;
vertical-align: middle;
border: solid 0px #ccc;
width: 148px;
height: 185px;
border: solid 1px transparent;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
margin-left:auto;
margin-right:auto;
text-decoration: none;
}




.fossilgroup_box:hover {
border: solid 1px #B26739;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
color: #333;
}

.fossilgroup_box:hover h2 {
color: #B26739 !important;
}

.fossilgroup_box h2, a.fossilgroup_box {
/*position: relative;*/
margin: 0px !important;
color: #999 !important;
text-decoration: none !important;
font-size: 1.1em !important;
/*visibility: hidden;*/
}



.fossilgroup_box a:link, .fossilgroup_box a:visited, .fossilgroup_box a:hover, .fossilgroup_box a:active {
text-decoration: none;
}





.fossilgroup_box img {
/*position: absolute;
bottom: 5px;
left: 5px;*/
}

#message {
position: absolute;
background-color: transparent/*pink*/;
font-size: 7pt;
top: -30px;

}


#synonymy_list ul {
list-style-type:square;
list-style-position:inside;
padding:0px;
margin:0px;
}

#synonymy_list li {
padding-left:0px;
font-size: 0.9em;
}


.recordeditor {
font-size:0.7em;
color:#666;
}

#node_links {
font-size:0.8em;
color:#888;
}

.figcaption {
font-size:0.8em;
color:#000;
margin: 5px;
padding: 5px;
background-color: #fff;
border: solid 1px #ccc;
box-shadow: 1px 1px 4px #ccc;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
}

.figcaption img {
margin-bottom: 5px;
background-color: #fff;
border-bottom: solid 1px #ccc;
}

.figcaption p {
font-size: 1em;
color:#000;
}

/* galeriid ümbritsev stiil */
.photogallery {
/*display:inline-block;*/
background-color: #000; /* eeldusel et enamik pilte on mustal taustal */
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
padding: 5px;
margin: 0;
/*max-height: 400px;*/
overflow: auto;
}

.photogallery h3 {
color: #fff;
padding-bottom: 8px;
text-shadow: none;
font-size: 0.9em;
}

.photogallery img {
}


.image_highlight:hover {

box-shadow: 0px 0px 6px 2px #F7F295;
z-index: 1000;
}

.image_label {
box-shadow: 1px 1px 4px #F7F295;
position: absolute;
padding: 0px;
left: 0px;
bottom: 0px;
width: 100%;
/*border-top: solid 1px #666;
border-right: solid 1px #666;
border-bottom: solid 1px #666; */
background-color: #F7F295;
opacity: 0.8;
font-size: 7pt;
display: none;
color: #000;
z-index: 10;
}


.placeholder {
	color:#000;
	background-color: #fff;
	text-transform:uppercase;
}



/* MEDIA QUERIES */


@media screen and (max-width: 1000px) {
	#pagewrap {
		width: 100%;
	}
	#content-left {
		width: 75%;
	}
	#menu {
		position: static;
		width: 22%;
		font-size: 0.9em;
	}
	#taxon-left, #taxon-right { width:49.8%;}
	.smallmap {
	width: 100%;
	}

#header1, #header2, #header3 {
float: none;
max-width: 100%;
padding: 5px;
text-align:center;
}

#article .twocol {
/* -moz-column-count:1;
-webkit-column-count:1;
column-count:1;*/
}
}


@media screen and (max-width: 650px) {
	#content {
		padding: 6px;
	}
	#header {
		height: auto;
		/*display: none;*/
		background: #fff;
	}
	#header h1 {
		font-size: 40px !important;
	}
	#header h2 {
		font-size: 12pt !important;
	}
	#taxon-left { width:100%;}
	#taxon-right { width:100%;}

	#menu {
		display: none;
}
	#content-left {
		width: 100%;
	}
	#taxon-info, #taxon-links {
	font-size: 0.8em;
	}


	#search_box { font-size: 0.9em;}

	/*.photogallery img { max-height:140px; max-width: 140px; }*/

	#bd-logo {
	top: 5px;
	left: 6px;
	height: 40px;
	width: auto;
	border: none;
	}


#msg-box-error {padding: 20px;}

	.smallmap {
	width: 100%;
	height: 200px;
	position: relative;
	float: none;
	border: solid 1px #666;
	}

	.fossilgroup_box {
		padding: 5px;
		width: 100px;
		height: auto;
	}

	.fossilgroup_box h2, a.fossilgroup_box {
	font-size: 10pt !important;
	}
}

@media screen and (max-width: 480px) {

	#header {
		/*display: none;*/
	}
	#header h1 {
		font-size: 30px !important;
        /*font-family: 'Open Sans', 'Tahoma', arial, sans-serif;*/
        text-shadow: none !important;
	}
	#header h1.small {
		font-size: 20pt !important;
	}
	#header h2 {
		display: none !important;
	}
	#header3, #header1 { display: none; }
	#header2 { padding: 10px 0 5px 0; }
	#taxon-header img {
		height: 60px;
	}
	#header-search-button, #header-menu-button { display: block; z-index: 100;}

	h1 {
		font-size: 14pt !important;
	}

	#lang-block-top {
		display: none;
	}

	#taxon-info, #taxon-links {
	font-size: 0.7em;
	}
	.photogallery img { }

	#fossilgroup-icon {
	display: none;
	}
	#taxon-box {
		height: auto;
		min-height: 20px;
	}
	#title-menu {
	display: none;
	}
	/*#search_box { font-size: 1em; display: none; } */
	#search_box input { max-width: 100%; margin: 0;}



	#bd-logo {
display: none;
	}
	.fossilgroup_box {
		padding: 4px;
		width: 85px;
		height: auto;
	}

	.fossilgroup_box h2, a.fossilgroup_box {
	font-size: 8pt !important;
	}
}



@media print {

	#menu {display: none; }
	#content-left {width: 100%; }
	#header-box { display: none; }
	#pagewrap { width: 18cm; box-shadow: none;}
	#lang-flags { display: none; }
	#footer { display: none; box-shadow: none;}
	.photogallery img { height: 30mm;}
	body { background: none; font-size: 8pt;}

}
